python_data_science_ml_bootcamp/
taming_big_data_apache_spark/course/
taming_big_data_apache_spark/data/
taming_big_data_apache_spark/.vscode/
machinehack_KNN_regression_hackathon/data/
machinehack_KNN_regression_hackathon/.ipynb_checkpoints/
machinehack_clustering_algorithm/.ipynb_checkpoints/
